@{
    ViewData["isDashboard"] = true;
}

@*Summary Widgets*@
<div class="row mb-4">
    <div class="col-md-4">
        <div class="d-flex flex-row widget summary Students">
            <div class="d-flex flex-column m-auto py-3">
                <span class="lead">Students</span>
                <h1 class="display-6 fw-bold">@ViewBag.nbrStudents</h1>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="d-flex flex-row widget summary Employee">
            <div class="d-flex flex-column m-auto py-3">
                <span class="lead"> Employee</span>
                <h1 class="display-6 fw-bold">@ViewBag.nbrEmployees</h1>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="d-flex flex-row widget summary persons">
            
            <div class="d-flex flex-column m-auto py-3">
                <span class="lead">Persons</span>
                <h1 class="display-6 fw-bold">@ViewBag.Persons</h1>
            </div>
        </div>
    </div>
</div>

@*Doughnut and Spline Chart*@
<div class="row mb-4">
    <div class="col-md-4">
        <div class="widget chart">
            <div class="p-4">
                <h5 class="fw-bold">Student By Class</h5>
            </div>
            <ejs-accumulationchart id="doughnutchart" enableSmartLabels background="#1a222b">
                <e-accumulation-series-collection>
                    <e-accumulation-series dataSource="@ViewBag.DoughnutChartData"
                                           xName="categoryTitle" yName="nbrStudents"
                                           innerRadius="60%" legendShape="Circle" 
                                           palettes=@(new string[]{"#0e8d76","#a4b219","#cb9b00","#8a442c","#0454b5","#7d0a0a","#822690","#4c2090","#313e93","#0096ac"})>
                        @* <e-accumulationseries-datalabel name="formattedAmount" visible></e-accumulationseries-datalabel>*@
                    </e-accumulation-series>
                </e-accumulation-series-collection>
                <e-accumulationchart-legendsettings position="Top" toggleVisibility="false">
                    <e-legendsettings-textstyle color="#fff" size="1rem"></e-legendsettings-textstyle>
                </e-accumulationchart-legendsettings>
                <e-accumulationchart-tooltipsettings enable></e-accumulationchart-tooltipsettings>
            </ejs-accumulationchart>
        </div>
    </div>
    <div class="col-md-8">
        <div class="widget chart">
            <div class="p-4">
                <div class="px-4 pb-4">
                    <h5 class="fw-bold">Recent Persons</h5>
                    <ejs-grid id="recent-Persons"
                              dataSource="@ViewBag.RecentPersons" gridLines="None">
                        <e-grid-columns>
                            <e-grid-column headerText="PostOrClass" field="Category.PostOrClass"></e-grid-column>
                            <e-grid-column headerText="BirthDate" field="BirthDate" type="date" format="MMM-dd-yy"></e-grid-column>
                            <e-grid-column headerText="FullName" field="FullName" textAlign="Right"></e-grid-column>
                        </e-grid-columns>
                    </ejs-grid>
                </div>
        </div>
    </div>
</div>